@charset "utf-8";
/* CSS Document */

#menu{ width:700px; margin:10px 0px 0px 20px;}

#menu ul{ padding:0px 0px 0px 10px;}

#menu ul li{ float:left; padding:0px 0px 0px 0px;}

#menu ul li#btn_home a{ background: url(../images/menu/btn_home.png); display:block; width:82px; height:50px; text-indent:-5000px; }
#menu ul li#btn_home a:hover { background:url(../images/menu/btn_home_hover.png) no-repeat;}
#menu ul li#btn_home_ativo a{ background:url(../images/menu/btn_home_hover.png) no-repeat; display:block; width:82px; height:50px; text-indent:-5000px;}

#menu ul li#btn_historia a{ background: url(../images/menu/btn_historia.png); display:block; width:108px; height:50px; text-indent:-5000px; }
#menu ul li#btn_historia a:hover { background:url(../images/menu/btn_historia_hover.png) no-repeat;}
#menu ul li#btn_historia_ativo a{ background:url(../images/menu/btn_historia_hover.png); display:block; width:108px; height:50px; text-indent:-5000px;}

#menu ul li#btn_lojas a{ background: url(../images/menu/btn_lojas.png); display:block; width:86px; height:50px; text-indent:-5000px; }
#menu ul li#btn_lojas a:hover { background:url(../images/menu/btn_lojas_hover.png) no-repeat;}
#menu ul li#btn_lojas_ativo a{ background:url(../images/menu/btn_lojas_hover.png); display:block; width:86px; height:50px; text-indent:-5000px;}

#menu ul li#btn_cardapio a{ background: url(../images/menu/btn_cardapio.png); display:block; width:119px; height:50px; text-indent:-5000px; }
#menu ul li#btn_cardapio a:hover { background:url(../images/menu/btn_cardapio_hover.png) no-repeat;}
#menu ul li#btn_cardapio_ativo a{ background:url(../images/menu/btn_cardapio_hover.png); display:block; width:119px; height:50px; text-indent:-5000px;}

#menu ul li#btn_delivery a{ background: url(../images/menu/btn_delivery.png); display:block; width:117px; height:50px; text-indent:-5000px; }
#menu ul li#btn_delivery a:hover { background:url(../images/menu/btn_delivery_hover.png) no-repeat;}
#menu ul li#btn_delivery_ativo a{ background:url(../images/menu/btn_delivery_hover.png); display:block; width:117px; height:50px; text-indent:-5000px;}

#menu ul li#btn_contato a{ background: url(../images/menu/btn_contato.png); display:block; width:109px; height:50px; text-indent:-5000px; }
#menu ul li#btn_contato a:hover { background:url(../images/menu/btn_contato_hover.png) no-repeat;}
#menu ul li#btn_contato_ativo a{ background:url(../images/menu/btn_contato_hover.png); display:block; width:109px; height:50px; text-indent:-5000px;}

* {list-style: none;}




/** Conteudo Pag Interna
 ********************************************************** */
